.slider {
    display: flex;
    margin-top: 5%;
    max-width: 100vw;

    .slider-img {
        display: none;
        height: 300px;
        width: 100%;
        min-width: 720px;
    }

    .slider-switch__btn {
        // background-color: red;
        margin-left: 2%;
    }

    .slider-switch__btn:hover {
       cursor: pointer;
    }
}   