.footer {
    background-color: black;
    color: white;
}

.footer-container{
    .wrapper-full();

    .container-contact-block {
        display: flex;
        align-items: center;

        .container-contact-block__img {
            max-width: 100%;
        }
    }

    .footer-botoom {
        display: flex;
        justify-content: space-between;
    }

    .footer-botoom-documents {
        display: flex;
        
        .footer-botoom-documents-item {
            text-decoration: none;
            text-align: center;
            color: white;
            
        }

        .line {
            height: 20px;
        }

    }
}

.social-network__icon {
    width: 25px;
    height: 25px;
}