@text-color: rgb(213, 236, 150);
@background-color-text: rgba(5, 5, 5, 0.377);

.header {
    background-image: url(/src/blocks/header/img/background-full.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    min-height: 100vh;
}

   & .header__wrapper-menu {
        .wrapper-full();
        display: flex;
        justify-content: space-between;
    
    }

        .logo-games {
            width: 60px;
            height: 60px;
       }
    
        .navigation {
            min-width: 60%;
            font-size: 20px;
            font-family: 'BIRTH_OF_A_HERO';
            color: @text-color;
            background-color: @background-color-text;
            border-radius: 20px;

    
            .navigation__list {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                list-style-type: none;
                margin-left: 0; 
                padding-left: 0;

                .navigation__list-item {
                    margin-left: 2%;
                }

                .navigation__list-item:nth-child(1) {
                    margin-left: 0;
                }

                .navigation__list-item:hover {
                    cursor: pointer;
                    color: red;
                }

                .navigation__list-item_active {
                  
                }
            }
        }

        .icon-menu {
            display: flex;
            position: relative;
            font-family: 'BIRTH_OF_A_HERO';
            color: @text-color;
            
            // border: 1px solid black;

            .language__checkpoint {
                margin-top: 20px;
                font-size: 20px;
                text-decoration: none;
                color: @text-color;
                letter-spacing: 0.1em;
            }

            .language__checkpoint:hover {
                cursor: pointer;
            }

            .language-menu {
                position: absolute;
                margin-left: calc(100% - 120px);
                background-color: @background-color-text;
                text-align: center;
                padding: 0;
               
                
                .language__menu-item {
                    display: none;
                    list-style-type: none;
                }

                .language__menu-item:hover {
                    cursor: pointer;
                }
            }

            .logo-ps4 {
                // border: 1px solid white;
                width: 70px;
                height: 70px;
            }

            .sound-container { 
               position: fixed;
               margin-left: 100px;

                .sound-icon-on {
                    margin-top: 16px;
                    width: 35px;
                    height: 35px;
                }
    
                .sound-icon-off {
                    filter: brightness(40%);
                    margin-top: 16px;
                    width: 35px;
                    height: 35px;
                }
    
               .sound-icon-on:hover {
                    cursor: pointer;
                }
    
                .sound-icon-off:hover{
                    cursor: pointer;
                }
    
                // ЭКВАЛАЙЗЕР
                .equalizer {
                    display: none;
                    position: absolute;
    
                    .equalizer__bar {
                        transform: scale(1, -1) translate(0, -24px);
                      }
                      
                      .equalizer__bar_item-1 {
                        fill: white;
                        animation-name: short-eq;
                        animation-duration: 0.5s;
                        animation-iteration-count: infinite;
                        animation-delay: 0s;
                      }
                      
                      .equalizer__bar_item-2 {
                        fill: white;
                        animation-name: tall-eq;
                        animation-duration: 0.5s;
                        animation-iteration-count: infinite;
                        animation-delay: 0.17s;
                      }
                      
                      .equalizer__bar_item-3 {
                        fill: white;
                        animation-name: short-eq;
                        animation-duration: 0.5s;
                        animation-iteration-count: infinite;
                        animation-delay: 0.34s;
                      }
                      
                      @keyframes short-eq {
                        0% {
                          height: 8px
                        }
                      
                        50% {
                          height: 4px
                        }
                      
                        100% {
                          height: 8px
                        }
                      }
                      
                      @keyframes tall-eq {
                        0% {
                          height: 16px
                        }
                      
                        50% {
                          height: 6px
                        }
                      
                        100% {
                          height: 16px
                        }
                    }                         
                }
            }
        }
    
   .header__wrapper-buy {
        .wrapper-full();
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        letter-spacing: 0.1em;
        font-size: 30px;
        
    
       .get-game {
            text-align: center;
            color: @text-color;


            .get-game__h1 {
                min-width: 30%;
                border-radius: 20px;
                background-color: @background-color-text;
            }

            .get-game__text {
                background-color: @background-color-text;
                border-radius: 20px;
            }

            .start-game-btn {
                max-width: 100%;
                text-align: center;
                padding: 15px;
                margin: 0 auto;
                border: none;
                border-radius: 20px;
                letter-spacing: 0.1em;
            }

            .start-game-btn:hover {
               cursor: pointer;
            }
        }

       .down-arrow {
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 0;
            height: 10%;
            color: @text-color;
            border-radius: 20px;
            

            .down-arrow__btn {
                border: none;
                background-color:  rgba(0, 50, 50, 0.0);
                color: @text-color;
                margin: 0;
            }

            .down-arrow__btn:hover {
               cursor: pointer;
            }
            
            .down-arrow__btn a {
                color: @text-color;
                text-decoration: none;
             }

            .down-arrow-img {
                animation: animation-down-arrow; 
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-direction:reverse;

            } 

            @keyframes animation-down-arrow {
                to {
                    transform: translateY(0);
                }

                from {
                    transform: translateY(20px);
                }
            }
        }
    }   

  .line {
                 margin: 10px;
                 width: 1px;
                 height: 50px; 
                 background-color: white;
            }