@text-color: rgb(213, 236, 150);


.header {
    background-image: url(/src/blocks/header/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    min-height: 100vh;

    .header__wrapper-menu {
        .wrapper-full();
        display: flex;
        justify-content: space-between;
        

        .logo-games {
            width: 60px;
            height: 60px;
       }
    
        .navigation {
            min-width: 30%;
            font-size: 20px;
            font-family: 'BIRTH_OF_A_HERO';
            color: @text-color;
            // border: 1px solid white;
    
            .navigation__list {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                list-style-type: none;
                margin-left: 0; 
                padding-left: 0;
                // border: 1px solid white;

                .navigation__list-item {
                    margin-left: 2%;
                }

                .navigation__list-item:nth-child(1) {
                    margin-left: 0;
                }

                .navigation__list-item:hover {
                    cursor: pointer;
                }
            }
        }

        .language {
            display: flex;
            font-family: 'BIRTH_OF_A_HERO';
            color: @text-color;

            .language__checkpoint {
                margin-top: 20px;
                font-size: 20px;
                text-decoration: none;
                color: @text-color;
                letter-spacing: 0.1em;
            }

            .line {
                 margin: 10px;
                 width: 1px;
                 height: 50px; 
                 background-color: white;
            }

            .logo-ps4 {
                // border: 1px solid white;
                width: 70px;
                height: 70px;
            }
        }
    }
    
   .header__wrapper-buy {
        .wrapper-full();
        letter-spacing: 0.1em;
        font-size: 30px;
        // border: 1px solid white;
        color: rgb(213, 236, 150);
        

       .header__get-game {
           display: flex;
           flex-direction: column;
            margin: 0 auto;
            text-align: center;
            // border: 1px solid red;

            .header__get-game-btn {
                max-width: 60%;
                // height: 70px;
                text-align: center;
                padding: 15px;
                margin: 0 auto;
                border: none;
                letter-spacing: 0.1em;
            }

            .header__get-game-btn:hover {
               cursor: pointer;
            }
        }

       .down-arrow {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 10%;
            margin: 0 auto;
            margin-top: 25%;
            // border: 1px solid pink;

            .down-arrow__text {
               text-align: center;
               margin: 0;
               padding-bottom: 3%;
            }

        }


   }
    
   
}




