@text-color: rgb(213, 236, 150);
@background-color-header: rgba(5, 5, 5, 0.377);

.header {
    background-image: url(/src/blocks/header/img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    min-height: 100vh;

    .header__wrapper-menu {
        .wrapper-full();
        display: flex;
        justify-content: space-between;
        

        .logo-games {
            width: 60px;
            height: 60px;
       }
    
        .navigation {
            // ca
            min-width: 60%;
            font-size: 20px;
            font-family: 'BIRTH_OF_A_HERO';
            color: @text-color;
            // background-color: @background-color-header;
            background-color: red;
            border-radius: 20px;
            // border: 1px solid white;
    
            .navigation__list {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                list-style-type: none;
                margin-left: 0; 
                padding-left: 0;
                // border: 1px solid white;

                .navigation__list-item {
                    margin-left: 2%;
                }

                .navigation__list-item:nth-child(1) {
                    margin-left: 0;
                }

                .navigation__list-item:hover {
                    cursor: pointer;
                    color: red;
                }

                .navigation__list-item_active {
                  
                }
            }
        }

        .icon-menu{
            display: flex;
            // flex-grow: 0;
            font-family: 'BIRTH_OF_A_HERO';
            color: @text-color;
            
            // border: 1px solid black;

            .language__checkpoint {
                margin-top: 20px;
                font-size: 20px;
                text-decoration: none;
                color: @text-color;
                letter-spacing: 0.1em;
            }

            .language-menu {

                .language__menu-item {
                    display: none;
                }
            }

            .line {
                 margin: 10px;
                 width: 1px;
                 height: 50px; 
                 background-color: white;
            }

            .logo-ps4 {
                // border: 1px solid white;
                width: 70px;
                height: 70px;
            }

            .sound-container {

                .sound-icon-on {
                    margin-top: 16px;
                    width: 35px;
                    height: 35px;
                }
    
                .sound-icon-off {
                    filter: brightness(40%);
                    margin-top: 16px;
                    width: 35px;
                    height: 35px;
                }
    
               .sound-icon-on:hover {
                    cursor: pointer;
                }
    
                .sound-icon-off:hover{
                    cursor: pointer;
                }
    
                // ЭКВАЛАЙЗЕР
                .equalizer {
                    display: none;
                    position: absolute;
    
                    .equalizer__bar {
                        transform: scale(1, -1) translate(0, -24px);
                      }
                      
                      .equalizer__bar_item-1 {
                        fill: white;
                        animation-name: short-eq;
                        animation-duration: 0.5s;
                        animation-iteration-count: infinite;
                        animation-delay: 0s;
                      }
                      
                      .equalizer__bar_item-2 {
                        fill: white;
                        animation-name: tall-eq;
                        animation-duration: 0.5s;
                        animation-iteration-count: infinite;
                        animation-delay: 0.17s;
                      }
                      
                      .equalizer__bar_item-3 {
                        fill: white;
                        animation-name: short-eq;
                        animation-duration: 0.5s;
                        animation-iteration-count: infinite;
                        animation-delay: 0.34s;
                      }
                      
                      @keyframes short-eq {
                        0% {
                          height: 8px
                        }
                      
                        50% {
                          height: 4px
                        }
                      
                        100% {
                          height: 8px
                        }
                      }
                      
                      @keyframes tall-eq {
                        0% {
                          height: 16px
                        }
                      
                        50% {
                          height: 6px
                        }
                      
                        100% {
                          height: 16px
                        }
                    }                         
                }
            }
        }
    }
    
   .header__wrapper-buy {
        .wrapper-full();
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 90vh;
        letter-spacing: 0.1em;
        font-size: 30px;
        // background-color: @background-color-header;
        
    
       .get-game {
            text-align: center;
            color: @text-color;


            .get-game__h1 {
                min-width: 30%;
                border-radius: 20px;
                background-color: @background-color-header;
            }

            .get-game__text {
                background-color: @background-color-header;
                border-radius: 20px;
            }

            .start-game-btn {
                max-width: 60%;
                text-align: center;
                padding: 15px;
                margin: 0 auto;
                border: none;
                letter-spacing: 0.1em;
            }

            .start-game-btn:hover {
               cursor: pointer;
            }
        }

       .down-arrow {
            display: flex;
            flex-direction: column;
            
            color: @text-color;
            background-color: @background-color-header;
            border-radius: 20px;
            

            .down-arrow__text {
    
            }

            .down-arrow-img {
            
                animation: down;
            } 
        }
    }   
}




